.content-wrapper1 {
    padding-right: 3vw;
    padding-left: 3vw;
    margin-bottom: 6.6vmax;
  }

  .content-wrapper2 {
    padding-right: 3vw;
    padding-left: 3vw;
    padding: 6.6vmax;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
  }

  .content-wrapper3 {
    padding-right: 3vw;
    padding-left: 3vw;
    padding: 6.6vmax;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  .site-intro h2 {
      color: white;
      font-size: 3.75rem;
      margin:5px;
      font-family: Arial, Helvetica, sans-serif;
    
  }

  .large-image img {
    position: relative;
    width: 100%;
    height: auto;
  }


  .right-medium-image {
   float: right;
   width:50%;
   height: auto;
  }

  .left-medium-image {
    float: left;
    width:50%;
    height: auto;
   }

  .right-medium-text { 
    justify-self: center;
  }

  .left-medium-text {

    float: left;
  }


  .bottom-contact {
    background-color:#949189;
    text-align: center;
    padding-top: calc(40vmax / 10);
    padding-bottom: calc(50vmax / 10);
margin: 0 auto;
  }

  .bottom-contact p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: white;
    margin-bottom: 50px;
    align-self: center;
  }

  .bottom-contact a {

padding-top: 22px;
padding-bottom: 22px;
padding-right: 37px;
padding-left: 37px;
background-color:#EAE9E7;
text-decoration: none;
color: #949189;
font-family: Arial, Helvetica, sans-serif;
font-size: 1.1rem;
margin-bottom: 20px;
  }

  .bottom-contact a:hover {
    background-color: #eae9e7a2;
  }


.section-title {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.section-text {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  padding-bottom: 10px;
}



.home-testimonial {
  color: white;
  font-size: 4rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-top: 0;
  margin-bottom: 0;
}

.right-large-text {
  width: 60%;
  padding-top: 0;
  margin-top: 0;
}