.content-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

.content-wrapper img {
    max-width: 50%;
    max-height: auto;
}

.text-wrapper {
    width: fit-content;
    align-items: center;

}

.text-wrapper h2 {
    font-size: 2rem;
    border: solid 1px red;

}

.text-wrapper p {
    font-size: 1rem;
    bordeR: solid 1px red;
    
}